/* Pc */
@media (min-width: 1024px) {

}

/* Tablet */
@media (max-width: 1023px) and (min-width: 740px) {
    .content-section {
        width: 100%;
    }

    .col {
        width: 100%;
    }

    .r-row {
        flex-direction: column;
    }
}

/* mobile */
@media (max-width: 739px) {
    .header {
        overflow: hidden;
    }

    .nav {
        display: block;
    }

    .nav-item:first-child {
        margin: 0;
        width: fit-content;
    }

    .mobile-menu__btn {
        display: block;
    }

    .subnav--active {
        display: block !important;
    }

    .subnav--hidden {
        display: none !important;
    }

    .subnav {
        position: initial;
        background-color: rgba(45, 45, 48, 0.9);
    }

    .subnav-item__link {
        color: #d5d5d5;
    }

    .row {
        flex-direction: column;
    }

    .col {
        width: 100%;
    }

    .content-section {
        padding: 40px 0;
    }

    .band-member__item {
        margin-bottom: 20px;
    }

    .band-member__name {
        margin-bottom: calc(10% - 15px);
    }

    .tour-places__item {
        margin-bottom: 30px;
    }

    .contact-body,
    .contact-form {
        margin-bottom: 30px;
    }

    .contact-tab {
        margin-top: 30px;
    }
}