:root {
    --background-color: rgb(198, 253, 241);
    --main-color: #41dfd7;
    --main-color-light: #45ece4;
    --text-color: rgb(253, 203, 138);
    --color-blue: #87c0ee;
    --color-red: #ff617c;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, 
body {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #ccc;
}

.nav {
    min-height: 42px;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
}

.nav-list {
    padding-left: 0%;
    margin: auto 16px;
}

.nav-item {
    color: rgb(255, 244, 244);
    list-style: none;
    margin: 0 8px;
    display: inline-block;
}

.form-container {
    max-width: 720px;
    padding: 32px;
    margin: 36px auto 0 auto;
    background-color: var(--background-color);
}

.form__row {
    padding: 8px 0;
    display: flex;
}

.form__label {
    min-width: 20%;
}

.form__input {
    flex: 1;
}

.column-layout {
    margin-top: 36px;
    padding: 12px 0;
    background-color: var(--background-color);
    display: flex;
}

.column-item {
    padding: 0 16px;
}

.sidebar-one {
    flex: 1;
}

.sidebar-two {
    flex: 1;
}

.main-column {
    flex: 3;
}

.feature-layout {
    margin-top: 36px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

@media (min-width: 720px) {
    .feature-layout {
        flex-direction: row;
    }
}

.feature-item {
    padding: 12px 16px;
    margin-top: 16px;
    flex-basis: 30%;
}

.feature-item:nth-child(1) {
    background-color: var(--text-color);
}

.feature-item:nth-child(2) {
    background-color: var(--color-red);
}

.feature-item:nth-child(3) {
    background-color: var(--color-blue);
}

.wrap-layout {
    background-color: var(--background-color);
    margin-top: 36px;
    padding: 12px 0 32px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.wrap-layout__item {
    width: 148px;
    height: 90px;
    color: #fff;
    text-align: center;
    line-height: 90px;
    font-size: 48px;
    font-weight: 700;
    margin-top: 20px;
    background-color: var(--color-blue);
}

.center-layout {
    background-color: var(--color-blue);
    margin: 36px auto 0 auto;
    padding: 32px 0;
    max-width: 640px;
    height: 360px;
    display: flex;
}

.center-layout__item {
    font-size: 42px;
    font-weight: 700;
    margin: auto;
}

.chart-layout {
    margin: 36px auto 0 auto;
    padding: 32px 0;
    height: 320px;
    background-color: var(--background-color);
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.chart-layout__item {
    /* align-self: ; */
    width: 60px;
    color: #fff;
    text-align: center;
    height: var(--percent);
    background-color: var(--color-red);
    animation: growth ease-in 1s;
}

@keyframes growth {
    from {
        opacity: 0;
        height: calc(var(--percent) - 50%);
    }
    to {
        opacity: 1;
        height: var(--percent);
    }
}

.the-end {
    margin: 12px auto 48px auto;
    padding: 32px 0;
    max-width: 740px;
    min-height: 360px;
    display: flex;
}

.the-end__first {
    padding: 4px 16px;
    background-color: var(--background-color);
    flex: 1;
}

.the-end__second {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.the-end__second-one {
    padding: 4px 16px;
    background-color: var(--color-blue);
    flex: 1;
}

.the-end__second-two {
    padding: 4px 16px;
    background-color: var(--color-red);
    flex: 1;
}