.header {
    height: 120px;
    background-image: linear-gradient(180deg, #f53e2d, #ff6633);
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar-list {
    padding-left: 0;
    margin-top: 4px;
}

.navbar-list__item,
.navbar-list__item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight: 300;
}

.navbar-list__item,
.navbar-list__item-link,
.navbar-list__icon {
    display: inline-flex;
    align-items: center;
}

.navbar-list__item:not(:nth-child(2)):hover,
.navbar-list__item-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.navbar-list__item {
    margin: 0 10px;
    position: relative;
    min-height: 26px;
}

.navbar-list__item--bold {
    font-weight: 400;
}

.navbar-list__item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #fb9086;
    height: 14px;
    right: -12px;
    top: 50%;
    transform: translateY(-50%);
}

.navbar-list__item--is-hover:hover .header__qr {
    display: block;
}

.navbar-list__icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__qr {
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    padding: 8px;
    left: 0;
    top: 100%;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in .3s;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-around;
}

.header__qr:hover {
    opacity: 1;
}

.header__qr-down-img {
    height: 16px;
}

.header__qr-link:first-child {
    margin-left: 5px;
}

.header__qr-link:last-child {
    margin-right: 5px;
}

.navbar-list__item--is-hover:hover .header-notification {
    display: block;
}

.header-notification {
    position: absolute;
    top: 130%;
    right: 0;
    width: 400px;
    background-color: var(--white-color);
    border: 1px solid #d3d3d3;
    cursor: default;
    user-select: none;
    --webkit-user-select: none;
    transform-origin: calc(100% - 20px) top;
    animation: headerNotifyGrowth ease-in .2s;
    will-change: opacity, transform;
    display: none;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header-notification::before {
    content: "";
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 0;
    top: -30px;
}

.header-notification::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -16px;
    width: 90px;
    height: 20px;
}

.header-notification__header {
    height: 40px;
    background-color: var(--white-color);
}

.header-notification__header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 40px;
}

.header-notification__list {
    padding-left: 0;
    list-style: none;
}

.header-notification__item:hover {
    background-color: #f7f7f7;
}

.header-notification__item--seen {
    background-color: rgba(238, 75, 43, 0.1);
}

.header-notification__link {
    display: flex;
    padding: 12px;
}

.header-notification__img {
    width: 48px;
    object-fit: contain;
}

.header-notification__info {
    margin-left: 12px;
}

.header-notification__info-name {
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--black-color);
    line-height: 1.8rem;
}

.header-notification__info-disc {
    display: block;
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin-top: 4px;
}

.header-notification__footer-btn {
    display: block;
    color: var(--text-color);
    padding: 5px 14px;
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
}

.auth-form {
    width: 500px;
    border-radius: 5px;
    background-color: var(--white-color);
    overflow: hidden;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #777;
}

.auth-form__aside {
    margin-top: 18px;
    padding: 0 12px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
}

.auth-form__policy-link {
    color: var(--primary-color);
}

.auth-form__controls {
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
}

.control__btn-back {
    margin-right: 8px;
}

.control__btn-back:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.auth-form__socials {
    background-color: #f5f5f5;
    padding: 12px 36px;
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}

.auth-form__socials-icon {
    font-size: 1.8rem;
}

.auth-form__socials--fb {
    color: var(--white-color);
    background-color: #3a5a98;
}

.auth-form__socials--fb.auth-form__socials-icon {
    color: var(--white-color);
}

.auth-form__socials--gg {
    background-color: var(--white-color);
}

.auth-form__socials-title {
    margin: 0 32px;
}